<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% extends "community/base.html" %}
    {% load bootstrap3 %}

    {% block header %}
        <h1>动态列表</h1>
    {% endblock header %}
    {% block content %}

        <ul>
            {% for dynamic in dynamics %}
                <li>
                    <h4>
                        <img src="/media/{{ dynamic.img }}" alt="暂未上传图片">
                        <a href="{% url 'market:dynamic' dynamic.id %}">{{ dynamic }}</a>
                    </h4>
                </li>
            {% empty %}
                <li>还未发布任何动态哦。</li>
            {% endfor %}
        </ul>
        <h3><a href="{% url 'market:new_dynamic' kind.id %}" >发布动态</a> </h3>
    {% endblock content %}
</body>
</html>