<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% extends "community/base.html" %}
    {% block content %}
        <p><a href="{% url 'market:dynamic' dynamic.id %}">{{ dynamic }}</a></p>

        <p>发布评论:</p>
        <form action="{% url 'market:new_comment' dynamic.id%}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
        <button name="submit">确认发布</button>
        </form>
    {% endblock content %}
</body>
</html>