<!DOCTYPE html>
{% load staticfiles %}
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=0">

    <title>个人中心</title>

    <link href='{%static "AmazeUI-2.4.2/assets/css/admin.css" %}' rel="stylesheet" type="text/css">
    <link href='{%static "AmazeUI-2.4.2/assets/css/amazeui.css" %}' rel="stylesheet" type="text/css">
    <link href='{%static "css/personal.css" %}' rel="stylesheet" type="text/css">
    <link href='{%static "css/systyle.css"% }' rel="stylesheet" type="text/css">

</head>

<body>

    <!--头 -->
    <header>
        <article>
            <div class="mt-logo">
                <!--顶部导航条 -->
                <div class="am-container header">
                    <ul class="message-r">
                        <div class="topMessage market">
                            <div class="menu-hd">
                                <a href='{% url "market:sort" %}' target="_top" class="h">
    <i class="am-icon-shopping-bag am-icon-fw"></i>商品分类</a>
    </div>
    </div>
    <div class="topMessage homepage">
        <div class="menu-hd homepage"><a href="#" target="_top">
                <i class="am-icon-user am-icon-fw"></i>个人中心</a>
        </div>
    </div>
    <div class="topMessage community">
        <div class="menu-hd"><a id="mc-menu-hd" href="#" target="_top">
                <i class="am-icon-shopping-cart  am-icon-fw"></i>社区动态</a>
        </div>
    </div>

    </ul>
    </div>

    <!--悬浮搜索框-->

    <div class="nav white">
        <div class="logoBig">
            <li><a href='{% url "market:home" %}'><img src='{%static "images/logobig.png"%}' /></a>
            </li>
        </div>

        <div class="search-bar pr">
            <a name="index_none_header_sysc" href="#"></a>
            <form>
                <input id="searchInput" name="index_none_header_sysc" type="text" placeholder="搜索" autocomplete="off">
                <input id="ai-topsearch" class="submit am-btn" value="搜索" index="1" type="submit">
            </form>
        </div>
    </div>

    <div class="clear"></div>
    </div>
    </article>
    </header>
    <div class="nav-table">
    </div>
    <b class="line"></b>

    <div class="center">
        <div class="col-main">
            <div class="main-wrap">
                <div class="wrap-left">
                    <div class="wrap-list">
                        <div class="m-user">
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--底部-->
    <div class="footer">
        <div class="footer-bd">
            <p>
                <em>© SJTU 软件工程 6.2小组 版权所有</em>
            </p>
        </div>
    </div>

    </body>

</html>